.wrapper{
  margin: auto;
  width: 1030px;
}
.header{
  display: flex;
  justify-content: space-between;
  font:bold 12px/11px gotham_proregular,arial,helvetica,sans-serif;
  margin-bottom: 11px;
}
.logo{
  margin-top:25px;
  width: 55px;
  height: 55px;
  padding-right: 2%;
}
.logo__img2{
  display: none;
}
input{
  display: none;
}
.menu-block{
  display: flex;
  align-items:center;
  width: 35%;
  margin:20px 15% 0 0;
}
.menu-block__items{
  position: relative;
  text-decoration: none;
  color:#000000;
  padding-right: 35px;
}
  .menu-block__items:last-child{
    padding-right: 0;
  }
.search-block{
  display: inline-block;
  border-bottom: 1px solid;
  margin: 42px 25px 0 0;
  width: 177px;
  height: 20px;
}
.search-block__button{
  Width:13px;
  Height:14px;
  padding-left: 164px;
}
.auth-block{
  text-decoration: none;
  color:#000000;
  margin: 45px 15px 0 0;
}
.auth-block__button{
  position: relative;
  text-decoration: none;
  color:#000000;
  margin-right:15px;
}
.cart-block{
  margin: 45px 25px 0 0;
  text-decoration: none;
}
.cart-block__button{
  text-decoration: none;
  color:#000000;
}
.cart-block__count{
  text-decoration: none;
  overflow: hidden;
  background: #000000;
  border-radius: 50%;
  border:1px solid #000000;
  box-sizing: border-box;
  color:#FFFFFF;
  padding: 0 3px;
}
.country-selector{
  margin-top: 39px;
}
.review-block{
 background: top right no-repeat url(img/bgsection1.svg);
 background-size: 100%;
 padding-bottom: 75px;
 margin: -3px 0 50px 0;
}
.review-block__title{
  font: bold 30px/29px gotham_proregular,arial,helvetica,sans-serif;
  color:#FFFFFF;
  padding: 90px 0 12px 60px;
  margin-bottom: 0;
  width: 19%;
}
.review-block__shop-link{
  font: bold 12px/11px gotham_proregular,arial,helvetica,sans-serif;
  text-decoration: none;
  color:#FFFFFF;
  padding-left: 60px;
}
.review-block__botton{
  background: top right no-repeat url(img/Arrow.png);
  background-size: 100%;
  background-position: center;
  margin-left: 9px;
  padding-left: 45px;
}
.products__title{
  font: bold 22px/21px gotham_proregular,arial,helvetica,sans-serif;
  text-align: center;
  margin-bottom: 20px;
}
.products__content{
  display: flex;
  justify-content: space-between;
}
.products__items{
  width: 19%;
  padding-bottom: 40px;
}
.products__items1{
  background:  top center no-repeat url(img/atlas.png);
  background-size: 97%;
  padding-top: 17%;
  margin-left:20px;
}
.products__items2{
  background: top center no-repeat url(img/camel.png);
  background-size: 97%;
  padding-top: 17%;
}
.products__items3{
  background: top center no-repeat url(img/mandel.png);
  background-size: 97%;
  padding-top: 17%;
}
.products__items4{
  background: top center no-repeat url(img/cloud.png);
  background-size: 97%;
  padding-top: 17%;
  margin-right: 15px;
}
.product__separator {
  width: 1px;
  height: 100px;
  background: lightgrey;
  margin-top: 39px;
}
.products__items-name{
  font: 500 12px/11px gotham_proregular,arial,helvetica,sans-serif;
  margin-left: -8px;
  margin-top: 24px;
  margin-bottom: 11px;
}
.products__items-selector{
  display: flex;
  width: auto;
  height: auto;
}
.products__items-cost{
  font: bold 14px/13px gotham_proregular,arial,helvetica,sans-serif;
  margin-left: -9px;
}
.products__items-colors{
  display: flex;
  list-style-type: none;
  margin-top: 3px;
  padding-left: 52%;
}
.products__items-colors-main{
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
  height: 6px;
  width: 6px;
}
.products__items-colors_grey{
  background: #C4C4C4;
  border:1px solid #C4C4C4;
}
.products__items-colors_black{
  background: #0E1211;
  border:1px solid #0E1211;
}
.products__items-colors_red{
  background: #B62E3C;
  border:1px solid #B62E3C;
}
.products__items-colors_beige{
  background: #E29D69;
  border:1px solid #E29D69;
}
.products__items-colors_yelow{
  background: #FDB431;
  border:1px solid #FDB431;
}
.products__items-colors_brown{
  background: #762E31;
  border:1px solid #762E31;
}
.products__items-colors_blue{
  background: #41479B;
  border:1px solid #41479B;
}
.products__items-colors_light_blue{
  background: #257DA9;
  border:1px solid #257DA9;
}
/*Section2*/
.excerpt{
  background: #000000;
  display: flex;
  justify-content: space-around;
  margin:-2px 0 80px 0;
}
.excerpt__content{
  background:  top left no-repeat url(img/bg2.png);
  padding: 65px 0 155px 67%;
  display: block;
  margin: 65px 0 0 30px;
}
.excerpt__title{
  font: bold 22px/27px gotham_proregular,arial,helvetica,sans-serif;
  color:#FFFFFF;
  width:80%;
  margin-bottom: 15px;
}
.excerpt__description{
  font: 500 14px/17px gotham_proregular,arial,helvetica,sans-serif;
  color:#FFFFFF;
  margin: 0 0 18px 0;
  width:85%;
}
.excerpt__learn-more{
  font:bold 12px/11px gotham_proregular,arial,helvetica,sans-serif;
  color:#FFFFFF;
  text-decoration: none;
}
.excerpt__video{
  display: block;
  margin: 65px 0 65px 33px;
  width: 100%;
}
.stories__title{
  font: bold 22px/21px gotham_proregular,arial,helvetica,sans-serif;
  text-align: center;
  margin-bottom: 40px;
}
.stories__main-content{
  display: flex;
  justify-content: space-between;
}
.stories__content1{
  background:  top left no-repeat url(img/story1.png);
  padding-top: 152px;
  display: block;
  width: 307px;
}
.stories__content2{
  background:  top left no-repeat url(img/story2.png);
  padding-top: 15%;
  display: block;
  width: 307px;
}
.stories__content3{
  background:  top left no-repeat url(img/story3.png);
  padding-top: 15%;
  display: block;
  width: 307px;
}
.stories__content_title{
  font: bold 18px/17px gotham_proregular,arial,helvetica,sans-serif;
  margin: 25px 0 5px 0;
}
.stories__content_description{
  font: 500 14px/17px gotham_proregular,arial,helvetica,sans-serif;
  margin: 10px 0 17px 0;
}
.stories__content__learn-more{
  font: bold 12px/11px gotham_proregular,arial,helvetica,sans-serif;
  text-decoration: none;
  color: #000000;
}
.stories__content_data{
  font: bold 12px/11px gotham_proregular,arial,helvetica,sans-serif;
  opacity: 0.3;
}
.stories__content__botton{
  background:  top left no-repeat url(img/ArrowB.png);
  background-size: 100%;
  background-position: center;
  padding: 9px 0 0 30px;
  margin: -10px 40% 0 0;
}
.stories__content-date{
  display: flex;
  justify-content: space-between;
  width: auto;
  height: auto;
}
.stories__content_data{
  margin-top: 0;
}

.gallery__title{
  font: bold 18px/17px gotham_proregular,arial,helvetica,sans-serif;
  text-align: right;
  opacity: 0.3;
  padding-top: 50px;
  margin-bottom: 10px;
}
.gallery__imgM{
  display: none;
}
.gallery__photo{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(140px, 1fr));
  margin-bottom: 80px;
}
.gallery__img{
  width: 148px;
  height: 146px;
}
.main-content{
  margin-bottom: 55px;
}
.footer{
  background:#000000;
}
.footer__copy{
  font:500 12px/11px gotham_proregular,arial,helvetica,sans-serif;
  color:#FFFFFF;
  text-align: center;
}
.footer__block-main{
  margin: 0 auto 0 auto;
  padding: 65px 100px 20px 130px;
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(86px, 1fr));
}
.footer__block_title{
  font:bold 12px/11px gotham_proregular,arial,helvetica,sans-serif;
  color:#FFFFFF;
  margin-bottom: 10px;
}
.footer__block_item{
  font:500 12px/11px gotham_proregular,arial,helvetica,sans-serif;
  color:#FFFFFF;
  list-style-type: none;
  padding-bottom: 8px;
}
.footer__links{
  margin-top: 0;
  padding-left: 0;
}
.footer__block_description{
  font:500 12px/11px gotham_proregular,arial,helvetica,sans-serif;
  color:#FFFFFF;
  margin: -5px 0 18px 0;
}
.footer__block_button{
  border: 2px solid #FFFFFF;
  text-align: center;
  padding: 7px 45px;
  text-decoration: none;
  font:bold 10px/10px gotham_proregular,arial,helvetica,sans-serif;
  color:#FFFFFF;
}
.footer__block_socials{
  display: flex;
  justify-content: space-between;
  margin-right: 65px;
  margin-top: 40px;
}
@media(max-width:1024px){
  .wrapper{
    margin: auto;
    width: 930px;
  }
  .header{
    margin-bottom: 42px;
  }
  .logo{
    padding-right:4%;
  }
  .logo__img{
    width: 108%;
  }
  .menu-block{
    margin-right: 16%;
  }
  .search-block{
    width: 160px;
    height: 20px;
  }
  .search-block__button{
    Width:13px;
    Height:14px;
    padding-left: 142px;
  }
  .review-block__title{
    padding: 78px 0 6px 55px;
  }
  .review-block__shop-link{
    padding: 0 10px 0 53px;
  }
  .review-block{
    margin-bottom: 57px;
  }
    .products__items{
      margin-bottom: 25px;
    }
    .products__title{
      margin-bottom: 23px;
    }
    .products__items{
      padding-top: 175px;
    }
    .products__items-name{
      margin-bottom: 7px;
    }
  .products__items-colors{
  padding-left: 85px;
  }
  .product__separator{
    display: none;
  }
  .excerpt{
    padding-bottom:15px;
    margin-bottom: 95px;
  }
.excerpt__content{
  background-size: 64%;
  margin: 60px 0px 0 30px;
  padding: 68px 0 123px 66%;
}
.excerpt__title{
  font: bold 22px/27px gotham_proregular,arial,helvetica,sans-serif;
  color:#FFFFFF;
  width:95%;
  margin: 10px 0 10px 0;
}
.excerpt__description{
  font: 500 13px/16px gotham_proregular,arial,helvetica,sans-serif;
  color:#FFFFFF;
  margin: 3px 0 10px 5px;
}
.excerpt__learn-more{
  font:bold 12px/11px gotham_proregular,arial,helvetica,sans-serif;
  color:#FFFFFF;
  text-decoration: none;
margin-left: 5px;
}
.stories__content1{
  padding-top:153px;
  width: 30%;
}
.stories__content2{
  padding-top:153px;
  width: 30%;
}
.stories__content3{
  padding-top:153px;
  width: 30%;
}
.stories__content_description{
  font: 500 13px/16px gotham_proregular,arial,helvetica,sans-serif;
  margin-bottom: 23px;
}
.stories__content__learn-more{
  margin-right: -10px;
}
.stories__content__botton{
  margin-right: 35%;
}
.gallery__photo{
  width:100%;
  grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
  padding-bottom: 12px;
}
.gallery__title{
  padding-top: 60px;
  margin-bottom: 14px;
}
.gallery__img{
  width: 134px;
  height: 134px;
}
.footer__block-main{
  padding: 58px 50px 20px 80px;
}
.footer__block_socials{
  margin-top: 43px;
}

}
@media(max-width:768px){
  .wrapper{
    margin: auto;
    width: 100%;
  }
  .header{
    position: relative;
    margin-bottom: 19px;
  }

  .logo__img{
    display: none;
    width: 1px;
  }
  .logo__img2{
    display: block;
    width: 156px;
    height: 33px;
    margin-left: 41px;
  }
  .search-block{
    display: none;
  }
  .auth-block{
    display: none;
  }
  .cart-block{
    display: none;
  }
  .country-selector{
    display: none;
  }
  .menu__button{
    display: flex;
    align-items: center;
    right: 25px;
    width: 76px;
    height: 65px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__button > span,
  .menu__button > span::before,
  .menu__button > span::after {
    display: block;
    position: absolute;
    width: 65px;
    height: 8px;
    background-color: #000000;
  }
  .menu__button > span::after {
    content: '';
    top: 8px;
    margin-top: 8px;
    }
  .menu-block{
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 50px 0;
    list-style: none;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
 .review-block{
    background-size:210%;
    background-position-x:17%;
    padding-bottom:83px;
    margin-bottom: 63px;
 }
  .review-block__title{
    font:bold 50px/48px gotham_proregular,arial,helvetica,sans-serif;
    margin: 0;
    padding: 17% 0 6% 42px;
  }
  .review-block__shop-link{
    font:bold 20px/19px gotham_proregular,arial,helvetica,sans-serif;
    padding-left: 40px;
  }
  .review-block__botton{
    background-size: 100%;
    padding-left: 75px;
    margin-left: 0;
  }
  .products__title{
    padding-left: 15px;
  }
  .products{
    width: 100%;
    height: 100%;
  }
  .products__content{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .products__items{
    width: 39%;
    padding-bottom: 0;
    }
  .products__items1{
      margin-left:30px;
      background-size: 80%;
    }
    .products__items2{
      background-size: 80%;
      margin-left: 60px;
    }
    .products__items-name{
      padding: 18% 0 6px 0;
      margin-left: 15px;
      font:bold 20px/19px gotham_proregular,arial,helvetica,sans-serif;
    }
    .products__items-cost{
      font:bold 25px/24px gotham_proregular,arial,helvetica,sans-serif;
      margin-left: 13px;
    }
    .products__items:first-child>.products__items-selector>.products__items-cost{
      margin-left: 0;
    }
    .products__items3,.products__items4{
      display: none;
    }
    .products__items:not(:last-child)::after{
      display: none;
    }
    .products__title{
    font:bold 30px/29px gotham_proregular,arial,helvetica,sans-serif;
    margin-bottom: 35px;
    }
    .products__items-selector{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .products__items:first-child>.products__items-selector>.products__items-colors{
      padding-left: 67px;
    }
    .products__items-colors_grey{
      margin-right: 4px;
      height: 18px;
      width:18px;
    }
    .products__items-colors-main{
      margin-right: 3px;
      height: 18px;
      width:18px;
    }
    .excerpt{
      margin: 8px 0 0 0;
      padding: 80px 0 55px 20px;
      background: ##E5E5E5;
      background: -webkit-linear-gradient(to right, ##E5E5E5;, ##E5E5E5;);
      background: linear-gradient(to right, ##E5E5E5;, ##E5E5E5;);
      z-index: -1;
      clip-path: polygon(0% 0%, 100% 5%, 100% 100%, 0% 100%);
    }
    .excerpt__content{
      padding: 40px 0 370px 0px;
      background-size: 97%;
      background-position-x:15%;
      margin: 0;
      background-position:bottom center;
      text-align: center;
    }
    .excerpt__title{
      font: bold 30px/37px gotham_proregular,arial,helvetica,sans-serif;
      text-align: center;
      margin: -35px 0 17px 18px;
    }
    .excerpt__description{
      font: 500 20px/25px gotham_proregular,arial,helvetica,sans-serif;
      width: 95%;
      margin: 0 0 55px 27px;
    }
    .excerpt__learn-more{
      display: none;
    }
    .excerpt__botton{
      display: none;
    }
    .stories{
      background: #000000;
      padding-top: 20px;
      margin-top: -2px;
    }
    .stories__title{
      font: bold 30px/29px gotham_proregular,arial,helvetica,sans-serif;
      padding-left: 25px;
      color: #FFFFFF;
    }
    .stories__content_title{
      font: bold 26px/24px gotham_proregular,arial,helvetica,sans-serif;
      color: #FFFFFF;
      margin: 47px 0 5px 0;
    }
    .stories__content_description{
      font: 500 20px/25px gotham_proregular,arial,helvetica,sans-serif;
      color: #FFFFFF;
      margin-bottom: 40px;
    }
    .stories__content__learn-more{
      font: 500 20px/19px gotham_proregular,arial,helvetica,sans-serif;
      color: #FFFFFF;
    }
    .stories__content_data{
      font: bold 15px/14px gotham_proregular,arial,helvetica,sans-serif;
      color: #FFFFFF;
    }
    .stories__content__botton{
      background:  top left no-repeat url(img/ArrowBW.png);
      background-size: 100%;
      padding-right: 20px;
      margin: 0px 0 0 0;
    }
    .stories__main-content{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-right: 15px;
    }
    .stories__content2{
      display: block;
      width: 312px;
      background-size: 100% 35%;
      margin-left: 10px;
    }
    .stories__content1{
      display: block;
      margin-left: 40px;
      width: 312px;
      background-size: 100% 35%;
    }
    .stories__content3{
      display: none;
    }
    .gallery{
    background: #000000;
    background-image: linear-gradient(2deg, white 47%, transparent 0%);
    }
    .gallery__photo{
    padding: 0 0 42px 20px;
    margin: 0 auto 80px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(170px, 2fr));
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 93%;
    }
    .gallery__imgM{
      display: block;
      width: 172px;
      height: 170px;
    }
    .gallery__img{
      width: 170px;
      height: 170px;
      display: block;
    }
    .gallery__title{
      font: bold 30px/29px gotham_proregular,arial,helvetica,sans-serif;
      color: #E8E8E8;
      padding-top: 110px;
      margin: 0 12px 20px 15px;
    }
    .footer__block-main{
      padding: 48px 0 40px 0px;
      width: 98%;
    }
  .footer__block_account{
  margin-left: 45px;
  width: 99px;
  }
  .footer__block_service{
  width: 150px;
  margin-left:5px;
  }
  .footer__block_miscellaneous{
    width: 142px;
    margin-left: 15px;
  }
  .footer_main-socials{
    width: 160px;
    margin-left:20px;
  }
  .footer__block_description{
    word-spacing:5px;
  }
  .footer__block_button{
    padding: 6px 48px;
  }
  .footer__block_socials{
    margin-top: 32px;
    margin-right: 43px;
  }
  .footer__copy{
    padding-left: 30px;
  }
}
@media(max-width:424px){
  .wrapper{
    width: 375px;
    margin: auto;
  }
  .header{
    margin-bottom: 12px;
  }
.logo{
  width: 104px;
  height: 22px;
  margin: 23px 0 0 5px;
}
.logo__img2{
  width:104px;
  height: 22px;
}
.menu__button{
  right: 25px;
  width: 90px;
  height: 60px;
}
.menu__button > span,
.menu__button > span::before,
.menu__button > span::after {
  width: 40px;
  height: 6px;
}
.menu__button > span::after {
  content: '';
  top: 6px;
  margin-top:4px;
  }
  .review-block{
    background-size: 190%;
    background-position-x:20%;
    padding-bottom: 40px;
    margin-bottom: 35px;
  }
  .review-block__title{
    font:bold 20px/19px gotham_proregular,arial,helvetica,sans-serif;
    padding: 65px 0 17px 48px;
    margin: 0;
  }
  .review-block__shop-link{
    font:bold 12px/11px gotham_proregular,arial,helvetica,sans-serif;
    padding: 0 0 0 50px;
  }
  .review-block__botton{
    background-size: 70%;
    padding-left: 65px;
  }
  .products__title{
    font:bold 20px/19px gotham_proregular,arial,helvetica,sans-serif;
    margin-bottom:0px;
    padding-right: 28px;
  }
  .products__items{
    width: 55%;
    margin-left: 0;
    padding-top: 105px;
  }
  .products__items:first-child{
    margin-left: 0;
  }
.products__items-name{
  font:500 15px/14px gotham_proregular,arial,helvetica,sans-serif;
  margin: 40px 0 3px -23px;
}
.products__content{
  padding-bottom: 20px;
}
.products__items-cost{
  font:bold 20px/19px gotham_proregular,arial,helvetica,sans-serif;
  padding-left: 23px;
}
  .products__items2{
    display: none
  }
  .products__items:first-child>.products__items-selector>.products__items-colors{
    padding-left: 118px;
  }
  .products__items-colors-main{
    margin-right: 5px;
    height: 14px;
    width:14px;
  }
  .excerpt{
    margin-bottom: -5px;
    padding: 30px 0 55px 10px;
    background: ##E5E5E5;
    background: -webkit-linear-gradient(to right, ##E5E5E5;, ##E5E5E5;);
    background: linear-gradient(to right, ##E5E5E5;, ##E5E5E5;);
    z-index: -1;
    clip-path: polygon(0% 0%, 100% 4%, 100% 100%, 0% 100%);
  }
  .excerpt__content{
    width: 90%;
    padding: 37px 0 135px 0;
    background-size: 87%;
    margin: 0;
  }
  .excerpt__title{
    font: bold 20px/25px gotham_proregular,arial,helvetica,sans-serif;
    text-align: center;
    width: 79%;
    margin-top:-25px;
  }
  .excerpt__description{
    font: 500 14px/17px gotham_proregular,arial,helvetica,sans-serif;
    width: 281px;
    margin: 15px 0 55px 17px;
  }
.stories__title{
  font: 500 20px/19px gotham_proregular,arial,helvetica,sans-serif;
  padding: 10px 0 0 0;
  margin-bottom: 30px;
}
.stories__content1{
  padding: 0;
  margin-left: 48px;
  width: 279px;
}
.stories__content2{
  display: none;
}
.stories__content_title{
  font: 500 20px/19px gotham_proregular,arial,helvetica,sans-serif;
  margin: 175px 0 10px 0;
}
.stories__content_description{
  font: 500 14px/17px gotham_proregular,arial,helvetica,sans-serif;
  width: 279px;
  margin-bottom: 30px;
}
.stories>.stories__main-content>.stories__content1>.stories__content_description{
  padding-right:10px;
}
.stories__content__learn-more{
  font: 500 12px/11px gotham_proregular,arial,helvetica,sans-serif;
  color: #FFFFFF;
}
.stories__content_data{
  padding-right: 10px;
}
.stories__content__botton{
  background-size: 72%;
  padding-right: 20px;
  margin: 0 10% 0 0;
}
.gallery__photo{
display: block;
padding: 0 0 0 48px;
margin: 0 0 80px 0;
display: grid;
grid-template-columns: repeat(2, 3fr);
width: 75%;
}
.gallery{
background: #000000;
background-image: linear-gradient(3deg, white 35%, transparent 0%);
margin-top: -1px;
}
.gallery__imgM{
  display: none;
}
.gallery__img_mabile1{
  grid-column: 1;
   grid-row: 1 ;
}
.gallery__img_mabile2{
  grid-column: 2 ;
   grid-row: 1 ;
}
.gallery__img_mabile3{
  grid-column: 2 ;
   grid-row: 3 ;
}
.gallery__img_mabile4{
  display: none !important;
}
.gallery__img_mabile5{
  grid-column: 1;
   grid-row: 3 ;
}
.gallery__img_mabile6{
  grid-column: 1;
   grid-row: 2 ;
}
.gallery__img_mabile7{
  grid-column: 2 ;
   grid-row: 2;
}
.gallery__img{
  width: 140px;
  height: 140px;
  display: block;
}
.gallery__title{
  font: bold 25px/24px gotham_proregular,arial,helvetica,sans-serif;
  color: #E8E8E8;
  margin: 0 0 10px 0;
  text-align: center;
  padding: 85px 18px 0 20px;
}
.main-content{
  margin-bottom: 85px;
}
.footer{
  width: 100%;
  margin-top:0;
}
.footer__block-main{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 3fr));
  padding: 25px 0 15px 0;
  text-align: center;
  width: 200px;
}
.footer__block_title{
    font: bold 15px/14px gotham_proregular,arial,helvetica,sans-serif;
}
.footer__block_item{
  font:500 15px/14px gotham_proregular,arial,helvetica,sans-serif;
}
.footer__block-main>.footer__block_account>.footer__links>.footer__block_item{
  padding-bottom: 10px;
}
.footer__block-main>.footer__block_miscellaneous>.footer__links>.footer__block_item{
  padding-bottom: 6px;
}
.footer__block-main>.footer__block_service>.footer__links>.footer__block_item{
  padding-bottom: 7px;
}
.footer__block-main>.footer__block_service>.footer__block_title{
  margin-bottom: 5px;
}

.footer__block_account{
width: 150px;
margin: 0 0 10px 25px;
grid-row: 1;
}
.footer__block_service{
width: 200px;
margin: 0 0 13px 0;
grid-row: 3;
}
.footer__block_miscellaneous{
  width: 200px;
  margin: 0 0 17px 0;
  grid-row: 2;
}
.footer_main-socials{
  width: 200px;
  margin-left:0;
  grid-row: 4;
}
.footer__block_description{
  font: 500 15px/14px gotham_proregular,arial,helvetica,sans-serif;
  word-spacing:0px;
  margin-top: 0;
  margin-bottom: 30px;
}
.footer__block_button{
  font:bold 12px/11px gotham_proregular,arial,helvetica,sans-serif;
  padding: 10px 50px;
}
.footer__block_socials{
  margin: 118px 20px 0 17px;
}
.footer__copy{
  font:500 13px/12px gotham_proregular,arial,helvetica,sans-serif;
  padding-left:0px;
}
}
@media(max-width:320px){
  .wrapper{
    width: 320px;
    margin: auto;
  }
  .logo__img2{
    margin-left: 15px;
  }
  .menu__button{
    width: 63px;
  }
  .review-block{
    background-size: 220%;
    background-position-x:24%;
    padding-bottom: 35px;
    margin-bottom: 38px;
  }
  .review-block__title{
    padding-left: 20px;
  }
    .review-block__shop-link{
    padding-left: 20px;
    }
  .products__items{
    width: 66%;
  }
  .products__items-name{
    margin: 40px 0 0 -20px;
  }
  .excerpt{
    padding-left: 0;
  }
  .excerpt__title{
    padding: 5px 0 0 10px;
  }
  .excerpt__description{
    margin-left: 0px;
  }
  .excerpt__content{
    background-size: 100%;
  }
  .stories__content_title{
    margin: 180px 0 5px 0;
  }
  .stories__title{
    margin: 20px 0 25px 0;
  }
  .stories__content_description{
    margin-bottom: 25px;
  }
  .stories__content1{
    margin-left: 23px;
  }
.gallery__title{
  padding: 90px 0 0 5px;
}
.gallery__photo{
  width: 88%;
  padding-left: 20px;
}
.footer__copy{
  padding-left:0px;
}
}
